.navbar{
    position: fixed;
    top:0;
    z-index: 10;
    width: 100%;
    padding: -1.5rem 0rem;
}
.bg-blurred {
    /* background-color: hsla(0, 0%, 100%, .75) !important; */
    background-color: #c9b5a4 !important;
}

.navbar-full .dropdown-menu {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
}

.navbar-full .dropdown, .navbar-full .navbar-nav .nav-item.dropdown {
    position: static !important;
}
.dropdown-menu{
     background-color: hsla(0, 0%, 100%, .75) !important;
}
.dropdown-item{
    cursor: pointer;
    transition: .6s ease;
}
.dropdown-item:hover{
    transform: scale(1.05);
}
ul.navbar-nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}
.dropdown-menu-scroll {
    /* max-height: 200px; */
    overflow-y: auto;
    overflow-x: hidden;
  }

  @media (max-width: 767px) {
    .dropdown-menu-scroll {
      max-height: 150px; /* Adjust the height as needed for smaller screens */
    }}