<section>
    <div class="container">
        <div class="main py-5">
            <div class="row mx-2">
                <div class="col-lg-3">
                    <div class="d-block ">
                        <h4>Trending collections</h4>
                        <p>Bracelets</p>
                        <p>Earrings</p>
                        <p>Engagement rings</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-block">
                        <h4>Services</h4>
                        <p>Search</p>
                        <p>Services & Repairs</p>
                        <p>Shopping</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-block ">
                        <h4>Information</h4>
                        <p>Privacy Policy</p>
                        <p>FAQs</p>
                        <p>Contact</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-block ">
                        <h4>Our Store</h4>
                        <p>FOREST RD. Mombasa</p>
                        <p>12345 Msa,Kenya.</p>
                    </div>
                </div>
              
            </div>
            <p class="text-center mt-2" style="cursor: none;">&copy; <strong>Rights reserved 2024.</strong> </p>
        </div>
    </div>
</section>
