<div class="container mt-2">
    <div class="row">
        <h4 class="text-center mt-5">PLACE YOUR ORDER</h4>
        <div class="col-lg-7">
          <div class="cart content">
            <div class="container">
              <h6>CUSTOMER ADDRESS</h6>
              <hr>
              <p>John Doe</p>
              <div  class="d-flex justify-content-between">
                <img >
                <div ></div>
                <hr>
              </div>
            </div>
          </div>

          <div class="cart content">
            <div class="container">
              <h6>DELIVERY DETAILS</h6>
              <hr>
              <p>Pick-up Station</p>
              <div  class="d-flex justify-content-between">
                <img >
                <div ></div>
                <hr>
              </div>
            </div>
          </div>

          <div class="cart content">
            <div class="container">
              <h6>PAYMENT METHOD</h6>
              <hr>
                <h6>Pre-pay Now</h6>
                <div class="d-flex"> 
                    <div><input type="radio"></div>
                    <div>Pay Now(M-Pesa,Airtel or Bank Cards)</div>
                </div>
                <hr>
                <h6>Pay on Delivery</h6>
                <div class="d-flex"> 
                    <div><input type="radio"></div>
                    <div>Pay on delivery with Mobile Money and Bank Cards</div>
                </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-2">
          <div class="p-3"></div>
        </div>
        <div class="col-lg-3">
          <div class="content">
            <div class="container">
              <h6 class="p-3">Order summary</h6>
              <hr>
              
                <div class="d-flex justify-content-between">
                  <div>Total</div>
                  <div #totalPrice> </div>
                </div>
              <hr>
  
              <button class="btn btn-sub w-100" >CONFIRM ORDER</button>
            </div>
          </div>
        </div>

       
      </div>
      <div class="btn btn-extra mb-3" (click)="goToHome()"> <i class="fa-solid fa-chevron-left"></i> <span class="mx-3">Go back to home & shopping</span></div>
</div>
