<section class="mt-5">
    <div class="container">
        <div  class="row w-100 d-flex flex-wrap py-5">
        <h4 class="text-center">LADIES  BRACELETS</h4>
        <div *ngFor="let product of ladiesProducts"  class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
            <div class="card mb-3 w-100">
                <img class="card-img-top" [src]="'http://localhost/glitterinfo/uploads/' + product.image" alt="Product Image">
                <div class="card-body">
                  <p class="card-text">Price: Kshs.{{product.price}}</p>
                  <button class="btn btn-extra" (click)="buyNow(product.id)" >BUY NOW</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
