:root{
    --primary-color:#c9b5a4;
    --secondary-color:#fff;
    --tertiary-color:#000;
    --accent-color:#8b684a;

    --font-family-regular: "MessinaSans-Regular", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
  }
.btn-main{
    background-color:var(--primary-color);
    color: var(--secondary-color);
}
.btn-main:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn-sub{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn-sub:hover{
    background-color: var(--tertiary-color);
    color:var(--primary-color);
}

.btn-extra{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.btn-extra:hover{
    background-color: var(--primary-color);
    color:var(--tertiary-color);
}
.carousel-indicators [data-bs-target]{
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 5px;
    height: 3px;
    padding: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 50%;
    background-color:var(--accent-color) ;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators [data-bs-target].active {
    background-color:var(--tertiary-color); 
    opacity: 1; 
}
.card {
    margin-bottom: 15px;
    margin-top: 15px;
}
.card-img-top {
width: 100%;
height: 200px;
object-fit: cover; /* Ensures the image covers the area without distortion */
object-position: center; /* Centers the image within the area */
}
.content{
    background-color: var(--primary-color);
    /* height: 1; */
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 4px;
    padding: 5px;
}