<div class="main" #mainContainer>
    <div class="container">
        <div class="content px-2">
            <h3>WELCOME TO GLITTER COLLECTIONS</h3>
            <p #intro></p>
            <button class="btn btn-main" (click)="viewAllProducts()">SHOP NOW</button>
        </div>
    </div>
</div>
<section class="carousel-section">
    <div class="py-5">
        <div class="container">
            <div id="carouselExampleCaptions" class="carousel slide  carousel-fade"  data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/banner-4.jpg" class="d-block w-50" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Get adorable rings</h5>
                      <p>Discover our stunning engagement rings, <br>crafted with love to symbolize your unique journey together. </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="assets/banner-2.jpg" class="d-block w-50" alt="...">
                    <div class="carousel-caption d-none d-md-block" style="color: black;">
                      <h5>Get adorable necklaces</h5>
                      <p >Elevate your style with our exquisite necklaces, <br>designed to add a touch of elegance to any outfit</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="assets/banner-3.jpg" class="d-block w-50" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Get sophisticated rings</h5>
                      <p>Discover our beautiful rings, perfect for celebrating <br>life's special moments with timeless elegance.</p>
                    </div>
                  </div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>


            </div>
            <div class="view-btn mt-4">
                <button class="btn btn-sub" (click)="viewAllProducts()">VIEW ALL JEWELRY</button>
            </div>

        </div>
    </div>
</section>
<section class="about-glitter">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="col-12 row p-5">
                    <div class="col-6">
                        <div class="d-flex mt-4">
                            <div><h4 class="txt-container">GLITTER DESIGN</h4></div>
                            <div><img src="\assets\photo_20.jpg" style="width: 200px; height: 200px; object-fit: contain;"></div>
                        </div>
                        
                    </div>
                    <div class="col-6">
                        <h6>ABOUT GLITTER DESIGNS</h6>
                        <h2>IT'S ALL ABOUT THE GLAM</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Itaque tempore quod laudantium? 
                             Corrupti tenetur molestias ea perspiciatis facilis nobis cupiditate, 
                             sint laboriosam accusamus minus, 
                            totam sunt omnis culpa incidunt reprehenderit.
                        </p>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Itaque tempore quod laudantium? 
                             Corrupti tenetur molestias ea perspiciatis facilis nobis cupiditate, 
                             sint laboriosam accusamus minus, 
                            totam sunt omnis culpa incidunt reprehenderit.
                        </p>
                        <button class="btn btn-extra">SEE MORE</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="\assets\photo_4.jpg" style="width: 400px; height: 400px; object-fit: contain;">
            </div>
        </div>
    </div>
</section>
<section class="quotes pt-5" >
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="img-cont">
            <img [src]="images1[currentIndex]" class="img-data" style="width: 300px; height: 300px; object-fit: contain;">
          </div>
        </div>
        <div class="col-lg-4">
          <div id="carouselExampleFade" class="carousel slide carousel-fade"  data-bs-ride="carousel">
            <div class="carousel-indicators pt-5">
              <button *ngFor="let indicator of images1; let i = index" type="button" [attr.data-bs-target]="'#carouselExampleFade'" [attr.data-bs-slide-to]="i" [class.active]="i === currentIndex" aria-current="i === currentIndex ? 'true' : null" [attr.aria-label]="'Slide ' + (i + 1)"></button>
            </div>
            <div class="carousel-inner">
              <div *ngFor="let quote of quotes; let i = index" [class.active]="i === currentIndex" class="carousel-item d-block p-5">
                <i class="fas fa-quote-left fa-3x text-center"></i>
                <h4 class="w-100 text-center">{{quote.text}}</h4>
                <p class="text-center">{{quote.author}}</p>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev" (click)="prevSlide()">
              <span class="prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next" (click)="nextSlide()">
              <span class="next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="img-cont-2">
            <img [src]="images2[currentIndex]" class="img-data-2" style="width: 300px; height: 300px; object-fit: contain;">
          </div>
        </div>
      </div>
      
    </div>
</section>

<section>
    <div class="container">
      <div class="slider mt-4">
        <div id="section">
          <h4 class="text-center" style="color: var(--accent-color);">Top Collections</h4>
          <div class="container-fluid position-relative">
            <div class="arrow left-arrow" (click)="scrollLeft()">&lt;</div>
            <div class="arrow right-arrow" (click)="scrollRight()">&gt;</div>
            <div class="row">
              <div class="scrollcards d-flex px-5" #scrollContainer>
                <div *ngFor="let imgCard of images3">
                  <div class="cardy">
                    <img class="card-img-top cardy-img-top " [src]="imgCard">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h6 class="text-center mb-3" style="color: var(--accent-color);">Made with love <i class="fa-solid fa-heart"></i> just for you and yours <i class="fa-solid fa-face-smile"></i></h6>
        </div>
      </div>
      
    </div>
</section>
<div class="container">
  <hr>
</div>

<section>
  <div class="container">
      <div class="subscription my-5">
          <h3>Join us for 10% off of your order</h3>
          <p class="text-center">Subscribe to our newsletter and be the first to know about our exclusive offers, latest collections, and sparkling new arrivals.<br> Enjoy 10% off your first purchase when you sign up today!</p>
          <form class="d-flex my-3">
              <div class="">
                <label for="inputEmail" class="visually-hidden">Password</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" style="border-radius: 0 !important;" >
              </div>
              <div class="">
                <button type="submit" class="btn btn-extra mb-3" style="border-radius: 0 !important;">JOIN US</button>
              </div>
            </form>
          <div>
              <input type="checkbox" class="px-2" > I agree with the following terms and use of information.
          </div>
      </div>
  </div>
</section>